<!-- Avatar Section -->
<div id="avatar-{{ player.playerId }}"
  class="bg-cover bg-center w-48 h-64 flex flex-col-reverse items-center bg-gray-800 p-4 shadow-lg relative"
  style="background-image: url('{{ getAvatarImage() }}');" >
  <div class="relative w-full rounded-md">
    <!-- Floating Damage Numbers Container -->
    <div id="damage-numbers-{{ player.playerId }}" class="relative pointer-events-none"></div>

    <div class="w-full text-center text-white bg-black bg-opacity-40 py-1">
      {{ player ? player.name : 'Avatar Name' }} <br />
      Level: {{ player.level }}
    </div>
  </div>

  <div class="absolute" id="attack-{{ player.playerId }}"></div>
  
</div>