<div class="flex flex-col items-center h-full justify-evenly">
  <div cdkDropList
       [cdkDropListSortingDisabled]="true"
       [cdkDropListConnectedTo]="['character-panel-buy-zone']"
       class="shop-grid grid-cols-2 sm:grid-cols-3 gap-2 grid p-2 sm:p-4">

    @for (item of shop; track $index) {
      <!-- Wrapper preserves the grid cell when CDK sets display:none on the cdkDrag element -->
      <div class="w-32 h-44 sm:w-44 sm:h-60 md:w-52 md:h-72 lg:w-60 lg:h-80">
        <div cdkDrag [cdkDragData]="item" [cdkDragDisabled]="item.sold"
             (cdkDragStarted)="cardDragStarted(item)"
             (cdkDragReleased)="resetDrag(item)"
             class="overflow-hidden w-full h-full"
        >
          <div
            [ngClass]="{'opacity-0':item.sold,'pointer-events-none':item.sold}"
            [style.background-image]="'url(' + (isItemHovered(item) ? getGlowImage(item) : getItemImage(item)) + ')'"
            id="item-{{ $index }}"
            class="relative w-full h-full items-center bg-cover bg-center shadow-amber-700"
            [appItemHoverCard]="item" [hoverPlayer]="player"
            [touchOnly]="true"
            [hoverCardDisabled]="draggingCard || buyingItem === item"
            [hintContent]="getItemInfoHint(item)"
            [isFreeLuckyFind]="isFreeClaimable(item)"
            [freeClaimSource]="freeClaimSource(item)"
            [showComparison]="true"
            (buyFromPopup)="buyItem(item)"
            [appInfoHint]="getItemInfoHint(item)" [gatesAction]="true"
            (mouseenter)="hoveredItem = item" (mouseleave)="hoveredItem = null">
            <app-item-card [item]="item" [player]="player"
                           [setTooltipBasedOnInventory]="true"
                           [showDetails]="isItemHovered(item)"
                           [showBuyButton]="isItemHovered(item)"
                           [isFreeLuckyFind]="isFreeClaimable(item)"
                           [freeClaimSource]="freeClaimSource(item)"
                           (buyClicked)="buyItem(item)"></app-item-card>
          </div>
        </div>
      </div>
    }
  </div>


</div>
