



<div id="shop" class="grid-cols-3 grid-rows-2 gap-5 grid max-w-fit bg-slate-600 rounded-md p-4">
  @for (item of shop; track $index) {
    <mat-card #tooltip="matTooltip" matTooltip="{{item.description}} Click to Buy!" matTooltipPosition="right" id="item-{{$index}}" class="m-2 w-60 h-80 items-center flex flex-col justify-between" (click)="toggleBuyButton($index.toString())">
      <mat-card-header class="mb-5">
        <mat-card-title>{{item.name}}</mat-card-title>
      </mat-card-header>
  
      <mat-card-content class="text-center">
        <p>Gold: {{item.price}}</p>
        <p>Attack: {{item.affectedStats.attack}}</p>
        <p>Attack Speed: {{item.affectedStats.attackSpeed}}</p>
        <p>Defense: {{item.affectedStats.defense}}</p>
        <p>HP: {{item.affectedStats.hp}}</p>
        <p>Level: {{item.levelRequirement}}</p>
  
      </mat-card-content>
  
      <mat-card-footer class="mt-5">
        <mat-card-actions class="mt-5">
          <button id="buy-{{$index}}"  mat-raised-button color="primary" class="" style="display: none;"
            (click)="draftService.sendMessage('buy', {itemId: item.itemId})">
            Buy
          </button>
        </mat-card-actions>
      </mat-card-footer>
    </mat-card>
  }
</div>
