@if (talents.length > 0) {
<div id="talents" class="grid-cols-1 grid-rows-2 grid max-w-fit bg-yellow-900 rounded-md p-4"
  [style.background-image]="'url(https://chungus-battles.b-cdn.net/chungus-battles-assets/Talent_ID_0_Empty.png)'"
  [style.background-size]="'100% 100%'" [style.background-position]="'center'">
  @for (talent of talents; track $index) {
  <mat-card
    class="m-3 w-80 h-60 items-center rounded-lg shadow-lg transform transition-transform scale-75 hover:scale-90"
    [style.background-image]="'url('+getTalentImage(talent)+')'" #tooltip="matTooltip"
    matTooltip="{{talent.description}}" matTooltipPosition="right" (mouseenter)="onMouseEnterTalent(talent)"
    (mouseleave)="onMouseLeaveTalent(talent)">
    <mat-card-header class="mb-5 mt-2">
      <mat-card-title>{{talent.name}}</mat-card-title>
    </mat-card-header>
    <mat-card-content class="m-2">
      <p>{{talent.description}}</p>
      @for (tag of talent.tags; track $index) {
      <mat-chip class="mr-1 py-1">{{tag}}</mat-chip>
      }
    </mat-card-content>

    <mat-card-footer>
      @if(talent.showDetails) {
      <mat-card-actions class="mt-5">
        <button mat-raised-button color="warn" class=""
          (click)="draftService.sendMessage('select_talent', {talentId: talent.talentId})">
          Select
        </button>
      </mat-card-actions>
      }
    </mat-card-footer>
  </mat-card>
  }
</div>
}