<mat-toolbar class="w-screen fixed top-0 z-10">
  <div class="flex justify-between gap-4 items-center">
    <img class="w-12 h-12 rounded-full object-cover hover:border-white hover:border"
      [ngClass]="{'border': showCharacterDetails()}" src="{{player.avatarUrl.replace('01','transparent')}}" alt="player"
      (click)="switchCharacterDetails()">
    <span class="text-center">{{player.name}}</span>
    <span class="text-sm text-center" #goldTooltip="matTooltip"
      matTooltip="{{player.income + player.round * 4}} gold per round." matTooltipPosition="below">Gold: {{ player.gold
      }} 🟡</span>

    @if (this.availableTalents && this.availableTalents.length > 0) {

    <button mat-mini-fab (click)="openTalentPickerDialog()" #talentPickerTooltip="matTooltip"
      matTooltip="Choose new talent!" matTooltipPosition="below" matTooltipHideDelay="1000">
      <mat-icon class="animate-bounce">keyboard_arrow_up</mat-icon>
    </button>

    }

  </div>
  <span class="flex-auto">
    <div class="flex flex-col gap-1 w-1/3 mx-auto">
      <div class="flex justify-between">
        <label class="text-xs text-center" for="xp">XP: {{ player.xp }} / {{ player.maxXp }}</label>
        <label class="text-xs text-center" for="xp">Level: {{ player.level }}</label>
      </div>
      <mat-progress-bar id="xp" mode="determinate" value="{{ (player.xp / player.maxXp) * 100 }}"></mat-progress-bar>
    </div>
  </span>

  <button matTooltipHideDelay="1000" #tooltip="matTooltip" matTooltipPosition="left"
    matTooltip="Highlight missing items from item sets!" mat-button [matMenuTriggerFor]="menu">Item Sets</button>
  <mat-menu #menu="matMenu">
    <div class="flex flex-col p-3 m-3 min-w-fit text-center justify-items-center" (click)="$event.stopPropagation();">
      @for (collection of player.availableItemCollections; track collection.itemCollectionId) {

      <mat-chip-option class="m-1 text-xs" #tooltip="matTooltip" matTooltipPosition="left"
        [selected]="selectedCollections().includes(collection.itemCollectionId)"
        (selectionChange)="handleSelectionChange($event, collection.itemCollectionId)" [matTooltip]="collection.effect">
        {{collection.name}}
        <mat-progress-bar [id]="'collection-progress-' + collection.itemCollectionId" mode="determinate"
          [value]="getProgress(collection)"></mat-progress-bar>
      </mat-chip-option>

      }
    </div>
  </mat-menu>





  <button mat-icon-button matBadge="{{player.inventory.length}}" (click)="openInventory()">
    <mat-icon>markunread_mailbox</mat-icon>
  </button>

  <button mat-icon-button (click)="switchMute()">
    @if(muted) {<mat-icon>volume_off</mat-icon>}
    @else {<mat-icon>volume_up</mat-icon>}
  </button>

  @if(!isFighting()) {
  <div class="fixed top-20 right-2 flex-row-reverse">

    <button [disabled]="player.gold < 4 || player.level > 4 " #tooltip="matTooltip" matTooltip="4 gold = 4 xp"
      matTooltipPosition="left" mat-fab color="text-white" class="m-2 p-2 flex-1" (click)="buyXp()"
      (mouseenter)="switchBuyXpAnimate()" (mouseleave)="switchBuyXpAnimate()">
      <mat-icon [ngClass]="{'animate-bounce': hoverBuyXp}">keyboard_arrow_up</mat-icon>
    </button>

    <button [disabled]="player.gold < player.refreshShopCost" #tooltip="matTooltip"
      matTooltip="{{player.refreshShopCost}} gold" mat-fab matTooltipPosition="below" color="text-white"
      class="m-2 p-2 flex-1" (click)="refreshShop()" (mouseenter)="switchShopRefreshAnimate()"
      (mouseleave)="switchShopRefreshAnimate()">
      <mat-icon [ngClass]="{'animate-spin': hoverShopRefresh}">refresh</mat-icon>
    </button>
  </div>
  }

</mat-toolbar>
@if (showCharacterDetails()) {
<app-character-details [player]="player" [combat]="isFighting()" class="relative max-w-fit top-16 z-10">
</app-character-details>
}