.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.player-portrait {
  width: 100%;
  height: auto;
  max-width: 500px; /* Optional: Limit the max width */
}

.prev-button,
.next-button {
  display: inline;
  justify-content: space-between;
  background-color: #db1111; /* Adjust button background color */
  border: none;
  padding: 10px;
  cursor: pointer;
}

.prev-button {
  margin-right: 3rem; /* Optional: Space between button and image */
}

.next-button {
  margin-left: 6rem; /* Optional: Space between button and image */
}

.animate-fall {
  @apply transition-all;
  animation: fall 5s linear forwards;
}

@keyframes fall {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }

  80% {
    opacity: 1;
  }

  100% {
    transform: translateY(100vh) rotate(360deg);
    opacity: 0;
  }
}