<div class="grid place-items-center min-h-full gap-2 lg:gap-8 p-2 lg:p-4 max-h-screen">
  <header class="text-center font-mono">
    <div class="text-6xl lg:text-9xl mt-2 lg:mt-10">Chungus Battles</div>
    <div class="text-xl mt-2 lg:mt-8">For the chungus!</div>
  </header>

  <div class="flex flex-col gap-2 lg:gap-8 max-h-full overflow-y-auto" (keyup.enter)="onFormSubmit()">

    <div #fallingItemsContainer class="max-w-full min-w-full fixed top-0 left-0 -z-10">
    </div>

    <div class="flex flex-row">
      <button class="pr-2 p-2 rounded-l-xl bg-amber-800 hover:bg-amber-700 flex items-center justify-center" (click)="onNextButton()">
        <mat-icon>arrow_back_ios</mat-icon>
      </button>
      <img [src]="avatarSelected" alt="player portrait" class="player-portrait" style="width: 100%; height: auto" />
      <button class="pr-2 p-2 rounded-r-xl bg-amber-800 hover:bg-amber-700 flex items-center justify-center" (click)="onPrevButton()">
        <mat-icon>arrow_forward_ios</mat-icon>
      </button>
    </div>
    <mat-form-field class="m-4">
      <mat-label>Name</mat-label>
      <input matInput [formControl]="nameControl" />
      @if (nameControl.invalid && nameControl.touched) {<mat-error>{{getInputErrorMessage()}}</mat-error>}
    </mat-form-field>
    <button (click)="onFormSubmit()" [disabled]="loading" mat-fab extended color="primary">
      @if (loading) {<mat-spinner diameter="24"></mat-spinner>}
      @else {Start!}
    </button>

  </div>
</div>

<div class="fixed bottom-5 right-5">
  <span class="font-light">Art by <a class="font-semibold" href="https://cara.app/pkart" target="_blank"
      rel="noopener noreferrer">pkart</a></span>
</div>

<div class="fixed top-5 right-5">
  <button mat-icon-button (click)="switchMute()">
    @if(muted) {<mat-icon>volume_off</mat-icon>}
    @else {<mat-icon>volume_up</mat-icon>}
  </button>
</div>
