#round-info {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  z-index: 1000;
}

#available-collections {
  position: fixed;
  bottom: 1rem;
  right: 50%;
  z-index: 1000;
}

#active-collections {
  position: fixed;
  top: 1rem;
  right: 50%;
  z-index: 1000;
}