<app-draft-toolbar class="fixed w-screen top-0 z-10" [player]="player!"
  [availableTalents]="availableTalents!"></app-draft-toolbar>

<app-skill-icons class="z-10" [player]="player!"></app-skill-icons>

<div class="flex flex-col justify-center items-center z-0 bg-cover w-screen h-screen" [style.background-image]="
'url(https://chungus-battles.b-cdn.net/chungus-battles-assets/BG_01.png)'
">
  <div class="flex flex-row justify-evenly w-full">
    <div id="shop" class="items-center flex justify-center p-1">
      <app-shop [shop]="shop ?? []" [refreshShopCost]="player?.refreshShopCost ?? 2" [playerLevel]="player?.level ?? 1"
        [playerGold]="player?.gold ?? 0" [availableCollections]="availableCollections ?? []"></app-shop>
    </div>
  </div>
</div>

<app-round-info [player]="player!"></app-round-info>

<app-ready-button />