<div class="flex flex-col items-center justify-center min-h-screen p-4">

  <h1 class="text-4xl font-bold text-white mb-8">{{ message }}!</h1>

  <h2 class="text-2xl font-semibold text-white mb-4">Top Players:</h2>

  <div class="w-full max-w-md bg-gray-800 bg-opacity-50 rounded-lg shadow-lg p-6">
    @for (Player of topPlayers; track Player.playerId) {
    @if (Player.playerId === playerId) {
    <div class="text-lg text-yellow-600 mb-2">{{ $index + 1 }}. {{ Player.name }} - {{ Player.wins }} win</div>
    } @else {
    <div class="text-lg text-white mb-2">{{ $index + 1 }}. {{ Player.name }} - {{ Player.wins }} win</div>
    }
    }
    @if (playerRank > 10) {
    <span>
      ...
    </span>
    <div class="text-lg text-yellow-600 mb-2">{{ playerRank }}. {{ playerName }} - {{ playerWins }} win</div>
    }
  </div>

  <button mat-fab extended class="mt-5 text-2xl" (click)="goToHome()">
    RESTART
  </button>
</div>