<!-- Inventory Section -->
<div class="h-screen flex flex-col">
  <div id="inventory-search-bar" class="flex rounded-lg justify-evenly items-center bg-stone-800 mt-8">
    <button mat-button (click)="isItemsView = true" class="px-4 py-2 bg-[#654321] text-white rounded-md">Items</button>
    <button mat-button (click)="isItemsView = false"
      class="px-4 py-2 bg-[#654321] text-white rounded-md">Talents</button>
  </div>

  <div class="flex-1 overflow-y-auto">

    <div id="inventory-grid" class="grid grid-cols-3 gap-4 place-items-center">

      @if (isItemsView) {
      @for (item of displayedItems; track $index) {

      <mat-card [style.background-image]="'url(' + getItemImage(item) + ')'" id="item-{{ $index }}"
        (mouseenter)="onMouseEnterItem(item)" (mouseleave)="onMouseLeaveItem(item)"
        class="w-60 h-80 items-center rounded-lg shadow-lg transform transition-transform scale-75 hover:scale-90">
        <mat-card-title class="text-white">{{ item.name }}
        </mat-card-title>
        @if (item.showDetails) {
        <div class="flex-1 overflow-y-auto text-center">
          Price:
          <span class="text-yellow-300">{{ item.price }} 🟡</span>

        </div>
        @for (stat of getItemStats(item, item.affectedStats); track stat.label) {

        <div class="flex-1 overflow-y-auto text-center">
          {{ stat.label }}:
          <span [ngClass]="stat.color">
            {{ stat.value }} {{ stat.icon }}
          </span>
        </div>
        }
        <div class="flex-1 overflow-y-auto text-center">Item set bonus:</div>
        @for (stat of getItemStats(item, item.setBonusStats); track stat.label) {
        <div class="flex-1 overflow-y-auto text-center">
          {{ stat.label }}:
          <span [ngClass]="stat.color">
            {{ stat.value }} {{ stat.icon }}
          </span>
        </div>
        }

        }
      </mat-card>
      }
      }@else {
      @for (talent of dispalyedTalents; track $index) {
      <div id="inventory-grid" class="grid-cols-3 gap-4 place-items-center">
        <mat-card [style.background-image]="'url(' + getTalentImage() + ')'" id="item-{{ $index }}"
          [style.background-size]="'100% 100%'" [style.background-position]="'center'"
          class="mx-3 px-3 py-3 flex flex-col align-middle justify-center w-80 h-60 items-center transform transition-transform scale-75 hover:scale-90">
          <div class="flex-1 overflow-y-auto text-center">{{talent.name}}</div>
          <div class="flex-1 overflow-y-auto text-center">{{talent.description}}</div>
        </mat-card>
      </div>
      }

      }
    </div>
  </div>