<div class="hint-modal">
  <app-info-card [content]="content"></app-info-card>
  <div class="hint-modal-footer" [class.hint-modal-footer--end]="!showRemember">
    @if (showRemember) {
      <mat-checkbox
        class="dont-show-again"
        [checked]="dontShowAgain()"
        (change)="onDontShowAgainChange($event)"
      >
        Don't show again
      </mat-checkbox>
    }
    @if (hasAction) {
      <button mat-button class="chungus-modal-btn" (click)="cancel()">Cancel</button>
    }
    <button mat-raised-button class="ok-button chungus-modal-btn" (click)="ok()">OK</button>
  </div>
</div>
