:host {
  display: block;
  height: 100%;
  width: 100%;
}

mat-card-title {
  font-family: 'PixelParchment', sans-serif;
  font-size: xx-large;
  font-weight: bold;
}

.set-bonus {
  font-size: 0.875rem;
}
