<mat-card class="max-w-fit">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image">
      <img src="https://chungus-battles.b-cdn.net/chungus-battles-assets/Bigchungusicon.webp" alt="Character Image">
    </div>
    <mat-card-title>Name: {{player ? player.name : ""}}</mat-card-title>
    <mat-card-subtitle>ID: {{player.playerId}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>

    <div class="flex flex-row justify-between p-1 hover:bg-slate-700 rounded-sm">
      <div>Level:</div>
      <div>{{player.level}}</div>
    </div>
    <mat-divider></mat-divider>

    <div class="flex flex-row justify-between p-1 hover:bg-slate-700 rounded-sm">
      <div>HP:</div>
      <div>{{player.hp}}</div>
    </div>
    @if (combat) { <mat-progress-bar id="hp" mode="determinate" value="{{(player.hp  / startingHP) * 100}}"></mat-progress-bar> }
    <mat-divider></mat-divider>

    <div class="flex flex-row justify-between p-1 hover:bg-slate-700 rounded-sm">
      <div>Attack:</div>
      <div>{{player.attack}}</div>
    </div>
    <mat-divider></mat-divider>

    <div class="flex flex-row justify-between p-1 hover:bg-slate-700 rounded-sm">
      <div>Defense:</div>
      <div>{{player.defense}}%</div>
    </div>
    <mat-divider></mat-divider>

    @if (!combat) {
    <div class="flex flex-row justify-between p-1 hover:bg-slate-700 rounded-sm">
      <div>Gold:</div>
      <div>{{player.gold}}</div>
    </div>
    <mat-divider></mat-divider>
    }


    <div class="flex flex-row justify-between p-1 hover:bg-slate-700 rounded-sm">
      <div>Attack Speed:</div>
      <div>{{player.attackSpeed | number : '1.2-2'}}</div>
    </div>
    <mat-divider></mat-divider>

    <div class="flex flex-row justify-between p-1 hover:bg-slate-700 rounded-sm">
      <div>Lives left:</div>
      <div>{{getLivesString()}}</div>
    </div>
    <mat-divider></mat-divider>

    <div class="flex flex-row justify-between p-1 hover:bg-slate-700 rounded-sm">
      <div>Wins (so far):</div>
      <div>{{player.wins}}</div>
    </div>
    <mat-divider></mat-divider>



    @if (!combat) {
    <div class="flex flex-row justify-between p-1 hover:bg-slate-700 rounded-sm">
      <label for="xp" class="">XP:</label>
      <label for="xp">({{player.xp}} / {{player.maxXp}})</label>
    </div>

    <mat-progress-bar id="xp" mode="determinate" value="{{(player.xp  / player.maxXp) * 100}}"></mat-progress-bar>
    <div class="flex justify-center">
      <button #tooltip="matTooltip" matTooltip="4 gold" matTooltipHideDelay="1000" matTooltipPosition="right"
        class="m-4" mat-raised-button color="primary" (click)="draftService.sendMessage('buy_xp', {})">
        XP
      </button>
    </div>
    }

    <div class="flex flex-row justify-between p-1 hover:bg-slate-700 rounded-sm">
      <mat-expansion-panel class="min-w-full" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Talents
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ul>
          @for (talent of player.talents; track $index) {
          <li class="flex flex-row justify-between p-1 hover:bg-slate-700 rounded-sm" #tooltip="matTooltip"
            matTooltip="{{talent.description}}" matTooltipPosition="right">
            <div>{{talent.name}}</div>
          </li>
          }
        </ul>
      </mat-expansion-panel>
    </div>


  </mat-card-content>
</mat-card>