.item-panel-bg {
  background-image: url('../../../../assets/items/Item_ID_0_Empty.png');
}

.item-panel-bg-zoomed {
  background-image: url('../../../../assets/items/Item_ID_0_Empty.png');
  background-size: 400%;
  background-position: center;
}
