/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.mdc-notched-outline__notch
{
  border-right: none;
}

.damage-number {
  @apply absolute text-red-500 text-lg font-thin font-sans transition-all;
  animation: floatUp 3s ease-in forwards;
  -webkit-text-stroke: 1px red;
}

.healing-number {
  @apply absolute text-green-400 text-lg font-thin font-sans transition-all;
  animation: floatUp 3s ease-in forwards;
  -webkit-text-stroke: 1px rgb(8, 238, 96);
}

.animate-attack {
  @apply transition-all;
  animation: attack 3s cubic-bezier(0, 1.38, 0.83, 0.67) infinite;
}

.animate-attack-enemy {
  @apply transition-all;
  animation: attack-enemy 3s cubic-bezier(0, 1.38, 0.83, 0.67) infinite;
}

.animate-talent {
  @apply transition-all text-red-700;
  animation: activate 0.5s ease forwards;
}

@keyframes attack {
  from {
    transform: rotate(0deg);
    transform-origin: 30% 70%;
  }
  to {
    transform: rotate(360deg);
    transform-origin: 30% 70%;
  }
}

@keyframes attack-enemy {
  from {
    transform: rotate(0deg);
    transform-origin: 70% 70%;
  }
  to {
    transform: rotate(-360deg);
    transform-origin: 70% 70%;
  }
}

@keyframes floatUp {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-50px);
  }
}

@keyframes activate {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}


.mat-mdc-dialog-surface{
  background-color: transparent !important;
}

.cdk-overlay-backdrop{
  background: #00000080 !important;
}